.inputs{
    background-color: gray;
    color:white;
    border-radius: 5px;
}

.input-div{
    padding: 10px;
}

.nome-label{
    color:black;
    font-size: 15px;
    justify-content: center;
    padding-left: 55px;
}

.logo{
    max-width:50%;
    justify-content: center;
    display: flex;
    margin:auto;
    padding-top: 20px;
  }

  .nome-label-key{
    color:black;
    font-size: 15px;
    justify-content: center;
    padding-left: 90px;
  }

  .button-2{
     display:flex;
     justify-content: center;
     align-items: center;
     margin:auto;
    
  }

  .criar-conta{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top:68px;
  }
