<ion-toolbar>
  <ion-button href="/home"><ion-icon name="home-outline">Voltar</ion-icon></ion-button>
</ion-toolbar>
<ion-content>

  <div class="logo">
    <ion-img src="../../assets/logos/Staff_App.png"></ion-img>
   </div>
  <div class="input-div">
    <ion-icon name="person-outline" > </ion-icon><ion-label class="nome-label">Nome de usuário</ion-label><br><br>
<ion-input class="inputs" placeholder="Insira um nome de usuário"></ion-input>
</div>
<div class="input-div">
  <ion-icon name="key-outline"></ion-icon><ion-label class="nome-label-key">Senha</ion-label><br><br>
<ion-input class="inputs" type="password" placeholder="Insira a sua senha"></ion-input>
</div>

<div class="button-2">
    <ion-button>Entrar</ion-button>
</div>
<div class="criar-conta">
  <h4><strong>Ainda não tem uma conta?</strong></h4>
  <ion-button href="/signup">Cadastre-se agora mesmo</ion-button>
</div>
</ion-content>
