
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Staff App</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <div class="logo">
  <ion-img src="../../assets/logos/Staff_App.png"></ion-img>
 </div>

  <div id="texto01">
    <strong>Precisa de organização para a sua empresa?</strong><br><br>
    <p>Inicie no Staff App <br> hoje mesmo. </p>
  </div>

  
</ion-content>

<ion-content>
 <div class="button-1">
    <ion-button href="/login">Iniciar</ion-button>
  </div>
</ion-content>
